<div
  class="flex items-center justify-between rounded border-t border-gray-200 bg-white px-4 py-3 shadow-md sm:px-6"
>
  <!-- Mobile variant -->
  <div class="flex flex-1 justify-between sm:hidden">
    <app-button
      variant="secondary"
      [disabled]="currentPage() <= 1"
      (click)="previousClick.emit()"
      i18n
    >
      Previous
    </app-button>

    <app-button
      variant="secondary"
      [disabled]="currentPage() >= pagesNum()"
      (click)="nextClick.emit()"
      i18n
    >
      Next
    </app-button>
  </div>

  <!-- Default variant -->
  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        <span i18n>Showing</span>
        <span class="font-medium"> {{ firstNum() }} </span>
        <span i18n>to</span>
        <span class="font-medium"> {{ lastNum() }} </span>
        <span i18n>of</span>
        <span class="font-medium"> {{ itemsNum() }} </span>
        <span i18n>results</span>
      </p>
    </div>
    <div>
      <nav
        class="isolate inline-flex -space-x-px rounded-md shadow-sm"
        aria-label="Pagination"
      >
        <button
          class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 disabled:bg-gray-200"
          [disabled]="currentPage() <= 1"
          (click)="previousClick.emit()"
        >
          <span class="sr-only" i18n>Previous</span>
          <svg
            class="size-5"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              fill-rule="evenodd"
              d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
        @for (item of pages(); track $index) {
          @if (item === currentPage()) {
            <a
              aria-current="page"
              class="relative z-10 inline-flex items-center bg-primary-dark px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-dark"
              >{{ item }}</a
            >
          } @else {
            <a
              class="relative inline-flex cursor-pointer items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              (click)="pageClick.emit(item)"
              >{{ item }}</a
            >
          }
        }
        <button
          class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 disabled:bg-gray-200"
          [disabled]="currentPage() >= pagesNum()"
          (click)="nextClick.emit()"
        >
          <span class="sr-only" i18n>Next</span>
          <svg
            class="size-5"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              fill-rule="evenodd"
              d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </nav>
    </div>
  </div>
</div>
